// fonts
$roboto: 'Roboto', sans serif;
$montserrat: 'Montserrat', sans serif;
$nunito: 'Nunito', sans serif;

// colors
$bg-color: #FAFAFA;
$bg-color-light: #FFFFFF;
$main-font-color: #222222;
$font-color: #5C5C5C;
$light-font-color: #FFFFFF;
$gray-font: #999999;
$placeholder-font-color: #D1D1D1;
$input-font-color: #474747;
$online: #1BDA9D;
$paused: #FF8346;
$draft: #5C5C5C;
$stopped: #FE4848;
$green-button: #2EE5AC;
$gray-button: #7D7D7D;
$border-red: #E14165;
$border-sky: #8686FF;
$border-blue: #C2C2FF;
$border-grey: #EBEBEB;